body {
  background: #fafafa;
  font-family: "Quicksand", sans-serif;
}

.weather-app {
  background: #f48db4;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 10px 10px 20px 6px rgba(244, 141, 180, 0.9);
  border-radius: 30px;
}

header {
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #fafafa;
  border: 1px solid gray;
  border-radius: 10px;
  width: 80%;
  padding: 16px 20px;
  font-size: 15px;
}
.search-form-button {
  background: pink;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px 25px;
  color: #fafafa;
  font-size: 15px;
  font-family: "Playfair Display", serif;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 30px 0;
}
.weather-app-city {
  margin: 0;
  font-size: 30px;
  line-height: 15px;
}
.weather-app-date {
  font-size: 15px;
}
.weather-app-details span {
  font-weight: 700;
}

.weather-app-temperature-icon {
  width: 88px;
  height: 88px;
}
.weather-app-temperature {
  /*font-size: 50px;*/
  font-weight: 500;
  font-family: "Playfair Display", serif;
  display: flex;
  line-height: 1;
}
.weather-app-temperature-value {
  font-size: 60px;
  font-weight: 300;
  /*padding: 10px;*/
}
.weather-app-temperature-unit {
  font-size: 28px;
  margin-top: 10px;
}
/*
.material-symbols-outlined{
  font-size: 90px;
}
*/
.weather-app-details {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.weather-app-details strong {
  color: deeppink;
}
a {
  color: pink;
  font-weight: 600;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-day {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-style: inherit;
  background: pink;
  border: 1px solid gray;
  border-style: inherit;
  box-shadow: 10px 10px 20px 6px rgba(74, 59, 65, 0.9);
}


.weather-forecast-date {
  text-align: center;
  /* color: black; */
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  /*width: 100%; */
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  
}
.weather-forecast-temperatures {
  text-align: center;
  font-weight: 700;
  color: deeppink;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
footer {
  border-top: 1px solid #f48db4;
  padding: 30px 0 0 0;
  font-size: 13px;
  text-align: center;
}
